<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png"/>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
            <h1>{{>header}}</h1>
            <p>This website was developed by a person that carries the face smiling (sort of) below.</p>
            <img class="portrait" src="/img/me.JPG"/>
        </div>
        {{>footer}}
    </body>
</html>